{% extends 'fuzzy_lamp/base.html' %}

{% block title %} <title> Fuzzy lamp </title>{% endblock title %}
{% block style %} 
<style>

</style>
{% endblock style %}

{% block content %}
<div style="display: flex; align-items:center;gap: 20px; margin-bottom: 20px;">
    <h1>All Links</h1> 
    <div class="search">
        <input id="searchTerm" type="search" placeholder="Search for a book">
        <button id="searchButton" class="searchButton" type="button">
        <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>
<div>
    <form id="linkForm">
        <label for="url">Url</label>
        <input name="link" type="url" id="url">
        <button type="submit">create</button>
    </form>
</div>
<!-- LINKS -->
<div class="list-cards"></div>
<!-- END LINK-CARD -->
{% endblock content %}

{% block scripts %} 
<script>
    

    linkForm.onsubmit = (e) => {
    e.preventDefault();
    postLink(linkForm);
    }

    document.getElementById('searchButton').addEventListener("click", () => {
        keyword = document.getElementById('searchTerm').value
        searchLinks(keyword)
    })

    
</script>
{% endblock scripts %}