{% extends 'fuzzy_lamp/base.html' %}

{% block title %} <title> Fuzzy lamp </title>{% endblock title %}
{% block style %} 
<style>

</style>
{% endblock style %}

{% block content %}
<div class="linkDetailWrapper">
    <div>
        <h2 id="cardTitle"> Title Book  <span>
            (Capa Comum)
        </span> </h2> 
    </div>
    <img id="imageCardBook" src="" alt="">
    <div class="linkInfoWrapper">
        <div class="statsContainer">
            <h2>Stats</h2>
            <div>
                <p> Min price: R$ 10,00</p>
                <p> Max Price: R$ 10,00</p>
                <p> Avg price: R$ 10,00</p>
            </div>
        </div>
        <div>
            <p> Curent price: R$ 10,00 </p>
            <p> Last Price: R$ 15,00 </p>
            <p> Difference: R$ 5,00 </p>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %} 
<script>
    
</script>
{% endblock scripts %}